.login_container {
    width: 300px;
    margin: 0 auto;
    padding-top: 150px;

    .login-form{
        max-width: 300px;
    }

    .login-form-forgot{
        float: right;
    }

    .login-form-button{
        width: 100%;
    }

}
