.frame-container {
  background: url("../../assert/image_3.jpg");
  min-height: 500px; }
  .frame-container .slider {
    float: left;
    width: 200px;
    height: 500px;
    padding: 10px; }
  .frame-container .main {
    margin-left: 200px;
    border-left: 1px solid #e8e8e8; }
    .frame-container .main header {
      height: 50px;
      padding-left: 10px;
      line-height: 50px;
      border-bottom: 1px solid #e8e8e8; }
    .frame-container .main .content {
      padding: 10px; }
